[Devices.cs]
vsspell_section_id = f582eadc79874a65998a901f783aeb46
vsspell_additional_dictionary_folders_f582eadc79874a65998a901f783aeb46 = C:\Users\Cobra Commander\AppData\Local\EWSoftware\Visual Studio Spell Checker\
vsspell_import_settings_file_f582eadc79874a65998a901f783aeb46 = C:\Users\Cobra Commander\AppData\Local\EWSoftware\Visual Studio Spell Checker\VSSpellChecker.editorconfig

